@media (max-width: $breakpointLg) {

  .trynow {


    .trynow-form {

    form {


      .trynow-form-trial{

        .trial {

          bottom: 40px;

        }


        .trynow-form-btn{

          padding-top: 80px;




        }


      }




      }
      }


    .trynow-footer {

      padding-top: 80px;


    }



    }




      }

