.clients {

  background-image: url("./../img/clientsbg.png");
  background-size: cover;




  .clients-items {

padding: 50px 0;



    .clients-item{
      margin-top: 40px;
      text-align: center;

      img {
        margin: 0 auto;
      }

      .sub-title {

        color: $main-site-color;
      }

      .title {
        color: $second-site-color;

      }

      p {
        color: $fourth-site-color;
        max-width: 325px;
        margin: 0 auto;

      }



    }





  }

  .partners-items {
    padding: 50px 0;
    max-width: 975px;
    margin: 0 auto;


    .partners-item{
      margin: 40px 0;
      img{
        margin: 0 auto;
      }
    }
  }

}