.design  {


  background-position: right;
  background-size: 40% 100%;

  background-image: url("./../img/section2.png");
  background-repeat: no-repeat;


    .design-content {
         padding: 190px 0;


        .sub-title {
          margin: 15px 0;
          color: $main-site-color;

        }

        .title {
         margin-bottom: 40px;

        }



            p {
              padding: 20px 0;
            }





      }



    }
