@font-face {
    font-family: 'Exo-Medium';
    src: url('./../fonts/exo_medium/Exo-Medium.eot');
    src: url('./../fonts/exo_medium/Exo-Medium.eot?#iefix') format('embedded-opentype'),
        url('./../fonts/exo_medium/Exo-Medium.woff2') format('woff2'),
        url('./../fonts/exo_medium/Exo-Medium.woff') format('woff'),
        url('./../fonts/exo_medium/Exo-Medium.ttf') format('truetype'),
        url('./../fonts/exo_medium/Exo-Medium.svg#Exo-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

