body {
  font-family: 'Exo-Medium', sans-serif;
}

h1 {
  font-family: 'Exo-thin', sans-serif;
  font-size: 50px;
  text-transform: uppercase;
}

h2 {
  font-size: 40px;
  text-transform: uppercase;
}
h3 {
  font-family: 'Exo-Medium', sans-serif;
  font-size: 30px;
}
p {
  color: $third-site-color;
}






