$containerwidth:1440px;

$breakpointXxl:1400px;
$breakpointXl:1200px;
$breakpointLg:992px;
$breakpointMd:768px;
$breakpointSm:576px;




$main-site-color: #ff6d6d;
$second-site-color:white;
$third-site-color:#282828;
$fourth-site-color: #939393;
$bg-site-color: #f6f5f3;
