@font-face {
    font-family: 'Exo-thin';
    src: url('./../fonts/exo_thin/Exo-Thin.eot');
    src: url('./../fonts/exo_thin/Exo-Thin.eot?#iefix') format('embedded-opentype'),
        url('./../fonts/exo_thin/Exo-Thin.woff2') format('woff2'),
        url('./../fonts/exo_thin/Exo-Thin.woff') format('woff'),
        url('./../fonts/exo_thin/Exo-Thin.ttf') format('truetype'),
        url('./../fonts/exo_thin/Exo-Thin.svg#Exo-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;

}

